  <div>
    <%= form_for([@video, @video.comments.create], remote: true) do |f| %>
        <%= f.hidden_field :user_id, value: session[:user] %>
        <%= f.hidden_field :video_id, value: @video.id %>
        <%= f.text_area :content, class:"comment", placeholder:"Comment here..." %>
        <%= f.submit "Submit", class: "searchbutton comment-button" %>
    <% end %>
  </div>
    <ul>
    <% if flash[:comment_error] %>
      <% flash[:comment_error].each do |error|%>
          <li style="color:red;"><%= error %></li>
        <% end %>
    <% end %>
    </ul>
