<div class="indexpage">
  <% if @user == @current_user %>
    <div class="stickyrighttop"><%=button_to "Edit Profile", edit_user_path(@user), class:"searchbutton",method: :get%></div>
  <% end %>
  <br/><br/>
  <% if flash[:success] %>
    <p style="color:green;"><%= flash[:success] %></p>
  <% end %>
  <h4>Account Info:</h4>
  <h5>Full Name: <%= @user.name.upcase %></h5>
  <br>
  <h5>Stats:</h5>
  <h7>Comments: <b><%= @user.comments.count %></b></h7><br>
  <h7>Videos Viewed: <b><%= @user.views.count %></b></h7><br>
  <h7>Videos Liked: <% %></h7><br><br>


  <h4>Playlists</h4>
  <% @user.playlists.each do |playlist| %>
    <div class="card-index firstone">
        <a href="/playlists/<%= playlist.id %>">
          <div>
            <% if playlist.videos.count == 0 %>
              <img class = "thumbnail" src="/images/buttonclip.png" width="56%;" height="100%">
            <% else %>
              <img class = "thumbnail" src="<%= playlist.videos.first.thumbnail_url %>" width="100%" height="100%">
            <% end %>
            <p class="card-text"><%= playlist.name %></p>
          </div>
        </a>
    </div>
  <% end %>
</div>
