


<div class="preloader">
  <div class="toppanel slideToLeftHand"></div>
  <div class="makeitcenter"><img src="/images/topclip.png" class="slideup"/></div>
  <div class="makeitcenter"><img src="/images/topclip.png" class="slidedown"/></div>
  <div class="makeitcenter"><img src="/images/buttonclip.png" class="explodetoright"/></div>
  <div class="botpanel slideToRightHand"></div>
 </div>


  <div class="pills">
    <% cate = [] %>
    <% @videos.each do |video| %>
      <% cate << video.category %>
    <% end %>
    <%cate.uniq.each do |c| %>
      <a href="/videos" class="badge badge-pill pill animated"><%= c %></a>
    <% end %>
  </div>

  <div class="searchbar sticky">
    <%= form_tag "/search" do %>
        <%= text_field_tag :input, "", class: 'inputbox',placeholder:"Music..."%>
          <%= submit_tag "Search", class:"searchbutton"%>
    <% end %>
  </div>


<div class="indexpage" id="indexpage">
  <h3>Videos: </h3>
  <hr>
  <% @videos.last(20).each do |video| %>
    <div class="card-index firstone">
        <a href="/videos/<%= video.id %>">
          <div>
            <img class = "thumbnail" src="<%= video.thumbnail_url %>" width="100%" height="100%">
            <p class="card-text"><%= video.title %></p>
          </div>
        </a>
    </div>
  <% end %>
</div>


<!-- <div class="indexpage">
  <% @videos.each do |video| %>
    <div class="card-index">
        <a href="/videos/<%= video.id %>">
          <div>
            <img class = "thumbnail" src="<%= video.thumbnail_url %>" width="100%" height="100%">
            <p class="card-text"><%= video.title %></p>
          </div>
        </a>

    </div>
  <% end %>

</div> -->
