<div class="landing_page">


  <div class="pills">
    <% cate = [] %>
    <% @videos.each do |video| %>
      <% cate << video.category %>
    <% end %>
    <%cate.uniq.each do |c| %>
      <a href="/videos" class="badge badge-pill pill"><%= c %></a>
    <% end %>
  </div>

  <div class="searchbar">
    <%= form_tag "/search" do  %>
        <%= label_tag "input" %>
        <%= text_field_tag :input %>
        <%= submit_tag "Search!" %>
    <% end %>
  </div>


</div>


<div class="indexpage">
  <% @videos.each do |video| %>
    <div class="card">
        <a href="/videos/<%= video.id %>">
          <div>
            <img class = "thumbnail" src="<%= video.thumbnail_url %>" width="100%" height="100%">
            <p class="card-text"><%= video.title %></p>
          </div>
        </a>

    </div>
  <% end %>
</div>
