<div class="indexpage">
  <br><br>
  <h4>Create New Playlist</h4>
  <div class="indexpage">
    <ul>
    <% if flash[:new_playlist_errors] %>
      <% flash[:new_playlist_errors].each do |error|%>
          <li style="color:red;"><%= error %></li>
        <% end %>
    <% end %>
    </ul>
    <%= form_for @playlist do |f| %>
        <%= f.hidden_field :user_id, value: session[:user] %>
        <%= f.text_field :name , class:"inputbox",placeholder:"New Playlist..."%>
        <%= f.submit "Create", class:"searchbutton" %>
    <% end %>
  </div>
</div>